<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1 *ngIf='!libroForm.value._id'>Guardar libro</h1>
                <h1 *ngIf='libroForm.value._id'>Editar libro</h1>
                <form #libroForm="ngForm" (ngSubmit)="addLibro(libroForm)">
                    <div class="form-group">
                        <input type="hidden" name="_id" [(ngModel)]="libroSelected._id" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="title" #title="ngModel" [(ngModel)]="libroSelected.title"
                            class="form-control" placeholder="Ingresa el título" required>
                        <span *ngIf="title.touched && title.invalid" class="form-error">El título es obligatorio</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="author" #author="ngModel" [(ngModel)]="libroSelected.author"
                            class="form-control" placeholder="Ingresa el autor" required>
                        <span *ngIf="author.touched && author.invalid" class="form-error">El autor es obligatorio</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="genre" #genre="ngModel" [(ngModel)]="libroSelected.genre"
                            class="form-control" placeholder="Ingresa el género" required>
                        <span *ngIf="genre.touched && genre.invalid" class="form-error">El género es obligatorio</span>

                    </div>
                    <div class="form-group">
                        <input type="text" name="editorial" #editorial="ngModel" [(ngModel)]="libroSelected.editorial" class="form-control"
                            placeholder="Ingresa la editorial" required>
                            <span *ngIf="editorial.touched && editorial.invalid" class="form-error">La editorial es obligatoria</span>
                    </div>
                    <div class="form-group">
                        <input type="number" name="year" #year="ngModel" [(ngModel)]="libroSelected.year" class="form-control"
                            placeholder="Ingresa el año" required>
                            <span *ngIf="year.touched && year.invalid" class="form-error">El año es obligatorio</span>
                    </div>

                    <button *ngIf="!libroForm.value._id" class="btn btn-secondary">Guardar</button>
                    <button *ngIf="libroForm.value._id" class="btn btn-secondary">Editar</button>
                    <button class="btn btn-primary mr-2" (click)="resetForm(libroForm)">Limpiar</button>
                </form>
                <div *ngIf="status == 'success save'">Guardado</div>
                <div *ngIf="status == 'success edit'">Editado</div>
                <div *ngIf="status == 'failed'">Error al guardar</div>


            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Género</th>
                    <th>Editorial</th>
                    <th>Año</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <th>{{libro.title}}</th>
                    <th>{{libro.author}}</th>
                    <th>{{libro.genre}}</th>
                    <th>{{libro.editorial}}</th>
                    <th>{{libro.year}}</th>
                    <th>
                        <button class="btn btn-secondary btn-sm" (click)="editLibro(libro)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteLibro(libro._id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>

                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>